<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid header-banner">
  <div class="container">
    <div class="row brand">
      <h1 class="text-center">STYDI - Sve što trebate znati o spolno prenosivim bolestima?</h1>
    </div>
    <div class="row back">
        <div class="col-md-12 col-sm-12"><a href="/"><i class="fa fa-arrow-left"></i> BACK</a> / <a href="/intro-page">Map</a></div>
      </div>
  </div>
</div>

<div class="nav-side-menu">
    <div class="brand"><img src="..\images\logofinal1.png" alt=""></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                   Genitalni Herpes <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="content-page/#prenos">Kako se prenosi</a></li>
                    <li><a href="content-page/#simptomi">Simptomi</a></li>
                    <li><a href="content-page/#dija">Dijagnoza i prevencija</a></li>
                    <li><a href="content-page/#poslj">Posljedice na zdravlje</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                   HPV <span class="arrow"></span>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                   HIV i SIDA/AIDS <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>

                <li data-toggle="collapse" data-target="#hepb" class="collapsed">
                     Hepatits B <span class="arrow"></span>
                  </li>
                  <ul class="sub-menu collapse" id="hepb">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                  </ul>

                  <li data-toggle="collapse" data-target="#gono" class="collapsed">
                       Gonoreja <span class="arrow"></span>
                    </li>
                    <ul class="sub-menu collapse" id="gono">
                      <li>New New 1</li>
                      <li>New New 2</li>
                      <li>New New 3</li>
                    </ul>

                    <li data-toggle="collapse" data-target="#klam" class="collapsed">
                      Klamidija <span class="arrow"></span>
                    </li>
                    <ul class="sub-menu collapse" id="klam">
                      <li>New New 1</li>
                      <li>New New 2</li>
                      <li>New New 3</li>
                    </ul>
                
                    <li data-toggle="collapse" data-target="#sif" class="collapsed">
                         Sifilis <span class="arrow"></span>
                      </li>
                      <ul class="sub-menu collapse" id="sif">
                        <li>New New 1</li>
                        <li>New New 2</li>
                        <li>New New 3</li>
                      </ul>

                      <li data-toggle="collapse" data-target="#trih" class="collapsed">
                           Trihomonijaza <span class="arrow"></span>
                        </li>
                        <ul class="sub-menu collapse" id="trih">
                          <li>New New 1</li>
                          <li>New New 2</li>
                          <li>New New 3</li>
                        </ul>
            </ul>
     </div>
</div>
<div id="page-content-wrapper">
    <div class="page-content inset" data-spy="scroll" data-target="#spy">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12 well">
                <legend id="anch1">GENITALNI HERPES/HSV</legend>
                <p> Genitalni herpes je zarazno oboljenje kojeg uzrokuje– HSV (Herpes simplex virus). Jednom kada virus uđe u organizam ostaje do kraja života. Infekcija herpesom je raširena u svijetu bez obzira na rasnu i etničku pripadnost. Češći je kod žena.</p>
            </div>
            <div class="col-md-12 well">
                <a name="prenos"></a>
                <legend id="anch2">Kako se prenosi</legend>
              <p>Zaraza je moguća izravnim kontaktom s kožom ili sluznicama zaražene osobe (najčešće spolnim odnosom). Ukoliko su simptomi kod majke prisutni tokom poroda, moguć je prijenos s majke na dijete.</p>
              </div>
            <div class="col-md-12 well">
                <a name="simptomi"></a>
                <legend id="anch3">Simptomi</legend>
                <p>Ovo oboljenje može da bude bez ikakvih simptoma. Simptomi se obično javljaju vrlo rano i u tom slučaju, počinje svrabom, žarenjem i peckanjem koje prelazi u mjehuriće. Nakon njihovog pucanja javljaju se bolne ranice u predjelu genitalija. Nakon dvije sedmice simptomi se povlače, ali virus ostaje u tijelu.</p> 
              </div>
            <div class="col-md-12 well">
                <a name="dija"></a>
                <legend id="anch4">Dijagnoza i prevencija </legend>
              <p>Dijagnoza se uspostavlja uzimanjem brisa iz ranice, tokom ginekološkog pregleda. U slučaju sumnje na oboljenje, obratite se vašem porodičnom doktoru. On će vas uputiti na daljnje pretrage.
                  Najbolji metod prevencije oboljenja je apstinencija od spolnog odnosa. Sljedeći metod je upotreba prezervativa/kondoma.
                  </p> 
              </div>
              <div class="col-md-12 well">
                  <a name="poslj"></a>
                  <legend id="anch5">Posljedice na zdravlje </legend>
                <p>Provocirajući faktori uzrokuju čestu ponovnu pojavu bolesti, moguće ranice na drugim dijelovima tijela, što sveukupno narušava kvalitet života.  </p> 
                </div>
        </div>
