<div class="wrapper" id="content">
  <div class="container-fluid">
    <div class="container">
    <div class="row top-banner">
      <h1 class="text-center">Lorem Ipsum about seksualno prenosivim bolestima</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">Back or logo</div>
        <div class="col-md-3">NEKI DINAMICAN TITLE</div>
        <div class="col-md-3"><input type="text" placeholder="Pretrazi"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a id="panel-1" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Genitalni Herpes</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a id="panel-2" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Gonoreja</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">Test.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a id="panel-3" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Hepatitis B</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">Test</div>
                </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a  id="panel-4" data-toggle="collapse" data-parent="#accordion" href="#collapse4">HIV/SIDA</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Test</div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a  id="panel-5" data-toggle="collapse" data-parent="#accordion" href="#collapse5">HPV</a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a id="panel-6" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Klamidija</a>
                        </h4>
                      </div>
                      <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">Test</div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a id="panel-7" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Sifilis</a>
                          </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                          <div class="panel-body">Test</div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a id="panel-8" data-toggle="collapse" data-parent="#accordion" href="#collapse8">Trihomonijaza</a>
                            </h4>
                          </div>
                          <div id="collapse8" class="panel-collapse collapse">
                            <div class="panel-body">Test</div>
                          </div>
                        </div>
            </div> 
      </div>
      <div class="col-md-9">
        <div id="g_herpes">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="gonoreja">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="hepatitis_b">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="hiv">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="hpv">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="klamidija">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="sifilis">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

      <div id="trihomonijaza">
          <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>
      

    </div>
  </div>
</div>
