.nav-side-menu {
  overflow: hidden;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #39c8c0;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
#page-content-wrapper{
  max-width: 98%;
  padding-left: 320px;
}
.header-banner{
  height: 200px;
  background-size:cover;
  background-position:center;
  padding-left: 300px;
  background: #269bb9;
}
.header-banner .container{
  height: 100%;
  color:white;
  max-width: 100%;
}
.brand img{
  width: 68%;
  max-width: 192px;
}
.well{
  border: 1px solid #0000000f;
    border-radius: 0px;
    margin: 30px 15px;
    color: #555;
    background: white;
    width: 97%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  height:200px;
  font-size: 14px;
  background: #3ed5c2; /* Old browsers */
background: -moz-linear-gradient(90deg, #3ed5c2 0%, #269bb9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(90deg, #3ed5c2 0%,#269bb9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg, #3ed5c2 0%,#269bb9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed5c2', endColorstr='#269bb9',GradientType=1 ); 
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #ffffff;
  background-color: #2aa4ba;
}
.nav-side-menu li.collapsed{
  padding-left: 15px;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: white;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: white;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #2aa4ba;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #ffffff;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 15px;
  border-left: 3px solid #2aa4ba;;
  border-bottom: 1px solid #ffffff;;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #ffffff;
  background-color: #2aa5bb;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
.text-center{
  padding-top: 45px;
}
.container-fluid .container{
position: relative;
}
.container-fluid .container .back{
  bottom:0;
  position: absolute;
}
.container-fluid .container .back a{
  color: white;
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
    border-top: 1px solid white;
  }
}
@media (max-width: 767px) {
  .header-banner{
    display: none;
  }
  .brand img{
    max-width: 80px;
  }
  .nav-side-menu .brand{
    height: 85px;
  }
  #page-content-wrapper {
    max-width: 98%;
    padding-left: 15px;
    padding: 15px;
  }
.well{
  width: 90%;
}
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
