
.button-container{
    text-align: center;
}
img{
    margin: 0px auto;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-center {
    color: #fff;
}


