<!--<div class="container-fluid" id="intro-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="images/icons/klika_logo.png" alt="">
        </div>
      </div>
    <div class="row">
      <h1 class="text-center">
        {{title}}
      </h1>
      <h3 class="text-center">
        {{subtitle}}
      </h3>
    </div>
    <div class="row button-container">
      <a class="btn btn-default" href="">Istrazi</a>
      <a class="btn btn-default" href="">Preuzmi Aplikaciju</a>
    </div>
    </div>	
  </div>

  <div class="bg"></div>
<div class="flex-container" id = "flex-container">
    <img src="https://www.wallpaperup.com/uploads/wallpapers/2013/09/25/151562/0ac7202d373259b9b680311caea82e3b-500.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
  <h1>Our first AngularJS app</h1>
<p></p>
<p></p>
  ><div class="row button-container">
      <a class="button" href="content-page">ISTRAŽI</a>
    </div>
  </div>-->

  


  <header id="showcase">
    <!--<h1>ANGULAR SPB</h1>-->
    <img src="/images/logo.png" class="ri" />
    <p>Sve što trebate znati o spolno prenosivim bolestima</p>
    <a href="content-page" class="button">INFORMIŠI SE SADA!</a>
  </header>
  <section id="section-a">
    <p>Svaki dan se više od 1.000.000 ljudi zarazi sekusalno prenosivim infekcijama.</p>
  </section>
  <section id="section-b">
    <p>Procjenjuje sa da je više od 500 miliona ljudi ima genitalne infekcije uzrokovane herpes simpleks virusom (HSV).</p>
  </section>
  <section id="section-c">
    <div class="box-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
    <div class="box-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
    <div class="box-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
  </section>